{%load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Ogłoszenia o pracę PPK</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{%static 'css/main.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'jobad:index' %}"><strong>Strona główna</strong></a>
    </div>
      {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
              <li><p class="navbar-text">Użytkownik: {{ user.get_username }}</p></li>
            <li><a href="{% url 'jobad:account' %}">Konto</a></li>
            <li><a href="{% url 'jobad:add' %}">Dodaj ogłoszenie</a></li>
            <li><a href="{% url 'jobad:logout' %}">Wyloguj się</a></li>
          </ul>
      {% else %}
          <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'jobad:register' %}"><span class="glyphicon glyphicon-user"></span> Zarejestruj się</a></li>
              <li><a href="{% url 'jobad:login' %}"><span class="glyphicon glyphicon-log-in"></span> Zaloguj się</a></li>
          </ul>
      {% endif %}
  </div>
</nav>
<div id="container body-content">
{% block advertisments %}{% endblock %}
{% block advertisment %}{% endblock %}
{% block filter %}{% endblock %}
{% block apply %}{% endblock %}
{% block login %}{% endblock %}
{% block register %}{% endblock %}
{% block account %}{% endblock %}
{% block addad %}{% endblock %}
{% block replies %}{% endblock %}
{% block editad %}{% endblock %}
</div>
</body>
</html>