{% extends 'jobad/base.html' %}

{% block filter %}
    <div id="container">
    <div id="row">
    <div id="col-md">
    <form method="get">
        <div class="container-medium">
                <h1>Filtrowanie</h1>
    <table style="margin-top: -30px">
    <tr><td>Nazwa pracodawcy:</td> <td class = "field_box_textarea">{{ ads.form.employer__company_name }}</td><br></tr>
    <tr><td>Nazwa stanowiska:</td><td class = "field_box_textarea">{{ ads.form.job_title }}</td><br></tr>
    <tr><td>Nazwa branży:</td> <td class = "field_box_textarea">{{ ads.form.employer__branch }}</td><br></tr>
    </table>
        <button type="submit" class="btn btn-primary" style="margin-bottom: 5px">Filtruj</button>
    </form>
    <div class="list-group">
        {% for ad in ads.qs %}
         <a href="{% url 'jobad:viewad' ad.id %} " class="list-group-item">{{ ad.name }}</a>
        {% endfor %}
    </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}