 body{
        background-image: url(background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
      }

 .asd{
        background: rgba(45, 45, 125, 0.58);
        color: white;
        padding: 40px;
        margin: 0 auto;
        margin-top: 200px;
        padding-bottom: 60px;
        box-shadow: 10px 10px 5px rgba(6, 1, 1, 0.43);
        width:30%;

 }

h1{
        text-align: center;
}
 .asd2{
        background: rgba(45, 45, 125, 0.58);
        color: white;
        padding: 40px;
        margin: 0 auto;
        margin-top: 200px;
        padding-bottom: 60px;
        box-shadow: 10px 10px 5px rgba(6, 1, 1, 0.43);
        width:60%;

 }
 .title a:link{
     color: #000;
 }